@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  html.smooth-scroll {
    scroll-behavior: smooth;
  }
}

@layer components {
  @import "./admin/admin.css";
}
