version: "3.8"

services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: nordwear_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  server:
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    restart: always
    environment:
      DATABASE_URL: mysql://user:password@db:3306/nordwear_db
      PORT: 5000
      NODE_ENV: production
      CLIENT_URL: http://localhost
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy

  client:
    build:
      context: .
      dockerfile: apps/client/Dockerfile
      args:
        - VITE_API_URL=http://localhost:5000/api
    restart: always
    ports:
      - "80:80"
    depends_on:
      - server

volumes:
  db_data: