@layer components {
  .customer-header {
    @apply bg-teal-600 text-white px-4 py-3;
  }
  .customer-container {
    @apply max-w-6xl mx-auto px-4;
  }
  .btn-primary {
    @apply bg-teal-600 text-white btn;
  }

  /* Base styles for Embla Carousel */
  .embla {
    @apply overflow-hidden;
  }
  .embla__container {
    @apply flex;
  }
  .embla__slide {
    @apply relative flex-grow-0 flex-shrink-0;
  }

  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    60% {
      opacity: 1;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-bounce-in {
    animation: bounce-in 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }
}