@layer components {
  .customer-header {
    @apply bg-teal-600 text-white px-4 py-3;
  }
  .customer-container {
    @apply max-w-6xl mx-auto px-4;
  }
  .btn-primary {
    @apply bg-teal-600 text-white btn;
  }

  /* Base styles for Embla Carousel */
  .embla {
    @apply overflow-hidden;
  }
  .embla__container {
    @apply flex;
  }
  .embla__slide {
    @apply relative flex-grow-0 flex-shrink-0;
  }
}