name: CI

on:
  push:
    branches: [ "main", "Dev" ]
  pull_request:
    branches: [ "main", "Dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install dependencies
      run: npm ci

    - name: Lint
      run: npm run lint

    - name: Typecheck
      run: npm run typecheck

    - name: Run Frontend Tests
      run: npm test --workspace=client -- --reporter=verbose

    - name: Run Backend Tests
      run: npm test --workspace=clothing-webshop-server -- --reporter=verbose

    - name: Build
      run: npm run build